# Archivos del Sistema Operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs y Editores de Código
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# Archivos de Entorno y Secretos
.env
.env.local
.env.*.local

# Logs y Temporales
logs/
*.log
scratch/
temp/
tmp/

# Documentos de trabajo personal
trabajo-jerson/
